{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block stylesheet %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <a href="{% url "blog:post_create" %}"><button type="button" class="btn btn-primary">ADD</button></a>
        <button type="button" class="btn btn-success">UPDATE</button>
        <button type="button" class="btn btn-danger">DELETE</button>
    </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% if e_post_list %}
                    {% for index, post in e_post_list %}
                        <tr>
{#                        <a href="{% url "" %}">#}
                            <th scope="row">{{ index | add:1}}</th>
                            <td>{{ post.title }}</td>
                            <td>{{ post.author.username }}</td>
                            <td>{{ post.create_dt }}</td>
{#                            </a>#}
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <th colspan="4" style="text-align: center">please add post</th>
                    </tr>
                {% endif %}

                 </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}
